/* Fixes for Internet Explorer 6 */
/* Use an expression to emulate position:fixed */
#loading {position:absolute; top:expression(eval(document.documentElement.scrollTop))}
/* Trigger hasLayout on various elements */
#tags, #gambits, .pg, #hdr, #bar, #cHdr, pre, .form li, #cInfo h2, #messages .msg, #search, #reset {zoom:1}
/* Posts display a bit screwed up... it seems triggering hasLayout and positioning relatively fixes everything :S */
#reply, #cBody, #cContent, .overflowDiv, #body {position:relative; zoom:1}
.p, .p .hdr, .p .body {zoom:1}
.p .body, .p {position:relative}
/* Buttons need a bit of help */
.button input {position:relative; display:block}
pre {font-size:100%}
.p .controls .formattingButtons a {margin-top:0; margin-bottom:0}
#bar form {margin-bottom:-1px}
/* Fix double-margin floats */
#search .fr, .pg li.left {display:inline}
