@media all {
/* Main tags */
body {font-family:arial,helvetica,sans-serif; font-size:75%; margin:0; -webkit-text-size-adjust: none; padding-top:0px !important; min-width:320px; background:linear-gradient(#e2e2e2, #fff 70%); background-repeat:no-repeat}
input, textarea, select, button {font-family:arial,helvetica,sans-serif; font-size:100%; outline:none}
p {line-height:1.4; margin:0 0 1em 0}
a img {border:0}
abbr {cursor:help}

/* Links */
a {text-decoration:none}
a:hover {text-decoration:underline}
/* a:active {text-shadow:#888 0 1px; color:#000} */
a, .link, .p .hdr a.link {color:#003483}

/* Misc */
.fl {float:left}
.fr {float:right}
.clear {clear:both; font-size:1px; margin:0; padding:0; width:1px}
small, dt {color:#888; font-size:90%}
small a, dt a {color:#55f}
#loading {background:#dcff52; border:solid #d4e58f; border-width:0 1px 1px 1px; font-size:120%; padding:5px 15px; position:fixed; right:25px; top:0; z-index:10000; box-shadow:rgba(0, 0, 0, 0.2) 0 0 3px; -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 0 3px}
.strike {text-decoration:line-through}
img.avatar, div.avatar img {width:105px; height:105px; object-fit:cover; vertical-align:bottom; image-rendering:auto}
.enabled, #skins a:hover {background:#ffa}
.disabled {color:#888; cursor:default}
.disabled:hover {color:#888; text-decoration:none}
h2 {font-size:160%; font-weight:normal}
h3 {font-size:120%; font-weight:bold}
.highlight {background:yellow}
#appearance #preview {margin-bottom:0}

/* Header */
#hdr {background:linear-gradient(#dbdbdb, #c1c1c1); overflow:hidden; padding:0 25px; position:relative; text-shadow:#fff 0 1px}
#hdr h1 {float:left; font-size:190%; font-weight:normal; margin:0; padding:17px 0}
#hdr h1 a {color:#000}
#hdr h1 a:hover {text-decoration:none}
#hdr h1 a:hover span {text-decoration:underline}
#hdr h1 img {height:36px; margin-right:15px; filter:drop-shadow(#fff 0 1px)}
#hdr h1 img, #forumTitle {vertical-align:middle}
#stats {float:right; font-size:90%; line-height:1.5em; margin-top:1em; text-align:right}
.small #hdr h1 {float:left; font-size:150%; line-height:1.7; overflow:hidden; padding:7px 0; margin-right:5%; white-space:nowrap}
.small #hdr h1 img {height:30px}
#hdr #search {margin-bottom:0; margin-top:10px; overflow:hidden}

/* Header with forum description */
#forumDescription {font-size:12px; color:#555}
#hdr h1#hasForumDescription img {float:left}
#hdr h1#hasForumDescription #forumTitle {float:right; position:absolute; font-size:20px}
#hdr h1#hasForumDescription #forumDescription {display:block; white-space:nowrap}

/* User bar */
#bar {background: linear-gradient(#e4e4e4, #a7a7a7); border-bottom:1px solid gray; border-top:1px solid gray; box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02); line-height:18px; overflow:hidden; padding:6px 25px; height:18px; text-shadow:#ddd 0 1px}
#bar ul {list-style-type:none; margin:0; padding:0}
#bar li {float:left; margin:0}
#bar .fl li {margin-right:3px}
#bar .fr li {margin-left:3px}
#bar strong {font-size:120%}
#bar strong a {color:#000}
#bar form {font-size:90%; margin-top:-1px; margin-bottom:-2px}
#bar .text {width:8em}
#bar input.text, #hdr #reset {border-color:#555; box-shadow:0 1px 1px rgba(255, 255, 255, 0.5); -webkit-box-shadow:0 1px 1px rgba(255, 255, 255, 0.5); -moz-box-shadow:0 1px 1px #c6c6c6}
#bar input.text {height:14px; border-radius:0; -webkit-appearance:none}
#bar span.button {height:18px; border-radius:0; box-shadow:0 1px 1px rgba(255, 255, 255, 0.5)}
#bar span.button:hover {box-shadow:0 1px 1px rgba(255, 255, 255, 0.5), inset 2px 2px 10px rgba(0, 0, 0, .15)}
#bar span.button:active {box-shadow:0 1px 1px rgba(255, 255, 255, 0.5), inset 2px 2px 10px rgba(0, 0, 0, .5)}
#bar li a span.button {font-size:90%; margin-top:-1px; margin-bottom:2px; display:flex; display:-webkit-flex; display:-webkit-box; display:-moz-box; display:-ms-flexbox}
#bar img {vertical-align:-4px}
#login {margin-top:-6.5px!important; padding-top:5.5px; padding-bottom:5.5px; padding-right:3px; border-top:0; border-bottom:0; border-left:0; border-right:1px solid gray}
#nav-dpav select {height:20px; margin-left:3px; border-radius:0; border-color:#555; box-shadow:0 1px 1px rgba(255, 255, 255, 0.5); -webkit-box-shadow:0 1px 1px rgba(255, 255, 255, 0.5); -moz-box-shadow:0 1px 1px #c6c6c6; background:#fff}
a#nav-exit {display:block; margin-top:-6px; padding-top:6px; padding-bottom:3.5px; padding-left:3px; border-top:0; border-bottom:0; border-left:1px solid gray; border-right:0}
strong#nav-prof {margin-right:5px}
#mbl-prof {display:none}
#mbl-prof span {display:none}

/* Header and bar package */
#hdrbarpack {top:0; z-index:100; position:relative}

/* Body */
#body {background:linear-gradient(#cdcdcd, #fff); background-repeat:no-repeat; background-size:100% 90px; padding:10px 25px; padding-bottom:0}
#wrapper {max-width:1000px; border-top:0; border-bottom:0; border-left:1px solid; border-right:1px solid; border-image:linear-gradient(to bottom, gray, #eee, #fff); border-image-slice:1; background:#fff; margin:0 auto}

/* Tags & gambits */
#tagArea {margin-bottom:10px; border:1px dashed #bbb; border-image:linear-gradient(to top, #ccc, #aaa); border-image-slice:1}
#tags, #gambits {line-height:1.2; margin:10px 10px 10px; text-align:justify}
#tags a, #gambits a {margin-right:0.7em}
#tags a {color:#777}
#gambits a {color:#00f}
a.s1 {font-size:140%}
a.s2 {font-size:115%}
a.s3 {font-size:110%}
a.s4 {font-size:100%}
a.s5 {font-size:90%}

/* Search form */
#search {font-size:150%; min-width:100px; overflow:hidden; padding-right:7.1em; margin-bottom:10px}
#body #search {background:#d6dce5; padding:10px 19.2em 10px 10px; margin:0}
#search .fr {margin-right:-18.5em; width:18.5em}
#searchText {border-right:0; float:left; height:21px; min-width:100px; width:100%; margin-right:-100%; padding-right:2em; background:#fff url(search.gif) no-repeat 5px 6px; padding-left:23px; border-color:#555}
#search.withStartConversation {padding-right:18.5em}
#submit {float:left; font-size:100%; position:relative; border-top-left-radius:0; border-bottom-left-radius:0}
#submit input {font-size:100%; margin-left:-5px; padding-left:8px; width:5.5em}
#new {float:right; font-size:100%}
#new input {font-size:100%; width:10.5em}
#reset {display:block; float:left; height:27px; line-height:23px; overflow:hidden; text-align:center; width:1.5em; color:#bbb}
#searchText:focus + .fr #reset {color:#555}
#reset:hover, #searchText:focus ~ #reset:hover {text-decoration:none; color:#000}

/* Messages */
#messages .msg {margin:0; border-bottom:1px solid #888}
.msg .close {float:right; border:1px solid #fff; color:#fff; text-decoration:none; padding:0 5px; margin:-2px -4px 0 0}
.msg .close:hover {background:#fff; color:#000; text-decoration:none}
.msg .close:active {background:#aaa}
.msg {background:#ddd; line-height:1.4; margin:0 0 1em 0; padding:5px 10px}
.info {background:#ffe680}
.success {background:#cf0}
.warning {background:#c00; color:#fff}
.warning a, .warning a:hover {color:#fff; text-decoration:underline}
.msg code {background:none}

/* Stars */ 
.star1, .star0 {cursor:default; display:block; font-size:600%; font-weight:normal; height:0.4em; line-height:0.8; overflow:hidden; width:0.4em}
a.star1, a.star0 {cursor:pointer}
.star0 {color:#ccc}
a.star0:hover {color:#92bcff}
.star1, a.star1:hover {color:#0055d4}
a.star0:active, a.star1:active {color:#68a2ff}
tr.starred td {background:#d7e3f4; border-color:#5f8dd3; border-top:1px solid #5f8dd3}
.star1 span, .star0 span {display:none}
.starInline {cursor:inherit; display:none; display:inline-block; font-size:350%; margin-bottom:-4px}

/* Conversation labels */
.label {font-size:90%; padding:0 5px; white-space:nowrap; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px}
.locked {background:#999; color:#fff}
.private {background:#7b00ad; color:#fff}
#gambits a.privateText {color:#7b00ad}
.sticky {background:#f90; color:#fff}
#gambits a.stickyText {color:#f60}
#gambits a.starredText {color:#efcb00}
#gambits a.lockedText {color:#888}
.draft {background:#0b2; color:#fff}
#gambits a.draftText {color:#0b2}

/* Conversations table */
.c {margin:0 0 1px; width:100%; border-collapse:collapse}
.c th {background-color:#dbe0e4; font-weight:normal; font-size:90%; padding:6px 0; text-align:left; background-color:#d6dce5; border-bottom:1px solid #bbb; text-transform:uppercase; font-weight:bold; color:#5f6d7f; text-shadow:#e6eaef 0 1px}
.c td {border-bottom:1px solid #ccc; line-height:1.1; padding:5px 0}
.c .labels {margin-right:3px}
.c strong {font-size:120%; font-weight:bold}
.c .read {font-weight:normal}
.c strong a {color:#000; margin:0}
.c a {margin-left:8.8px; margin-bottom:-5px}
.c .author a, .c .lastPost a {color:#000; margin:0}
.c td.avatar {padding:4px 10px 4px 4px; width:32px; text-align:center}
.c td.avatar img {width:30px; height:30px; object-fit:cover; vertical-align:middle; border:1px solid #ddd}
.c td.star {width:3.5em}
.c .posts {padding:5px 10px; text-align:center}
.c td.posts {font-size:175%}
.c .p1 {color:#000}
.c .p2 {color:#666}
.c .p3 {color:#aaa}
#jumplink a {margin-left:unset; margin-right:10px}
#newResults td {padding:1px 0; border:0}
#newResults .msg {margin:0; padding:3px 0; font-size:90%; text-align:center}
#newResults a {margin:0; font-weight:bold}
#more .msg {margin:0; margin-top:-2px; padding:3px 0; text-align:center; font-size:90%}
#more .msg a {font-weight:bold}
#body #search {border-top:1px solid #bbb}
#body #search {border-left:1px solid #bbb; border-right:1px solid #bbb}
#searchResults {border-left:1px solid #ccc; border-right:1px solid #ccc}
#searchResults tbody > tr:nth-of-type(even) {background-color:#f4f4f4}
#searchResults .msg.warning {margin:0}

/* Conversation header */
#cHdr {margin:0 0 10px; overflow:hidden; background:#d6dce5; padding:10px; border:1px solid #bbb; border-image:linear-gradient(to top, #bbb, #aaa); border-image-slice:1}
/* Info and title (left part) */
#cInfo {float:left; overflow:hidden; width:60%}
#cInfo .star1, #cInfo .star0 {float:left; margin:2px 13px 0 2px; padding-top:7px; text-shadow:#666 0 0 4px}
#cInfo h2 {font-size:100%; margin:0; overflow:hidden}
#cInfo #cTitle {font-size:180%; font-weight:normal; margin:0.15em 0 0 0; word-wrap:break-word}
#cTitle {display:block; padding-top:3px}
#cInfo .editable {box-shadow:none}
#cInfo .text {width:75%}
#cInfo .editable {background:none; border-width:0; padding:3px}
#cInfo .editable:hover {border-style:dashed; border-width:1px; padding:2px}
#cInfo .editable:focus {border-style:solid; border-width:1px; padding:2px; box-shadow:inset 0 5px 10px rgba(0, 0, 0, 0.07)}
#cInfo dl {margin:0}
#cInfo dt {clear:left; float:left; line-height:2.1em; margin:5px 11px 0 0; padding-bottom:1px; text-align:right; width:3em}
#cInfo dd {display:block; line-height:2em; margin:0; padding-top:4px}
#cInfo .button {line-height:1}
#cTags a {color:#000}
/* Members allowed (right part) */
#allowed {float:right; text-align:right; width:40%}
#allowed dd {margin:0}
#allowedList {display:block; font-size:90%; margin:5px 0}
#allowed a.d:hover {color:#f00; text-decoration:line-through}
#addMember {width:9em; height:14px; margin:0 -5px 5px 0; border-right:0; border-top-right-radius:0; border-bottom-right-radius:0}
#addMemberSubmit {border-top-left-radius:0; border-bottom-left-radius:0}

/* Pagination */
.pg {background:#fff; clear:both; font-size:95%; line-height:1.8em; margin:0 0 10px; overflow:hidden; padding:0 10em; text-align:center}
.pg li {border:1px solid #bbb; display:block; float:left; list-style-type:none}
.pg li.left {margin-left:-10em; margin-right:-1px; width:10em}
.pg li.right {margin-left:-1px; margin-right:-10em; width:10em}
.pg li.middle {border-width:1px 0; cursor:pointer; margin:0 -1px; width:100%}
.pg .viewing {bottom:-1px; cursor:E-resize; cursor:col-resize; margin-top:-2px; position:relative; white-space:nowrap}
.pg .viewing div {background:#c2dbff; border:1px solid #62a0dc; overflow:hidden; padding:0 2px;}
.pg .viewing:hover div {border-color:#0e5395}
.pg .viewing:active div {background:#62a0dc}
.pg .unread {background:#ffc; color:#f71; display:block; margin-top:-20px; overflow:hidden; white-space:nowrap}
.pg li.left a, .pg li.right a {cursor:pointer; display:block; float:left; overflow:hidden; text-align:center; width:6em; white-space:nowrap}
.pg li.left a.first, .pg li.right a.last {width:4em}

/* Conversation post */
hr {display:none}
.p {margin-bottom:10px; border-left-style:solid; border-left-width:1px; border-right-style:solid; border-right-width:1px; border-bottom-style:solid; border-bottom-width:1px}
.p .hdr {margin-bottom:5px; overflow:hidden; padding:5px 10px}
.p .hdr, .p .hdr small, .p .hdr a {color:#000}
.p .hdr h3, .p .hdr h4 {border:0; display:inline; font-size:120%; font-weight:bold; margin:0}
.p .hdr span, .p .hdr form {display:inline; font-size:90%; margin-left:7px}
.p .hdr select, .p .hdr input.save {background:none; border:dashed rgba(0,0,0,0.2); border-width:1px; display:inline; padding-top:1px; margin:-1px 0 -2px 0}
.p .hdr select option {background:#fff}
.p .hdr input.save {padding:0 2px}
.p .hdr .pInfo {float:left}
.p .hdr .controls {float:right; padding-top:1px}
.p .hdr .controls a {font-size:90%; line-height:1.5; margin:0 0 3px 0; background:rgba(0,0,0,0.1); width:3.5em; text-align:center; display:inline-block}
.p .hdr .controls a:hover {background-color:#fff; text-decoration:none}
.p .hdr .controls a:active {background-color:#888}
.p .hdr .controls span {font-size:100%}
.p .hdr a.button {padding:1px 4px}
.p .body {line-height:1.3; overflow:auto; padding:5px 10px 0}
.p .body img {vertical-align:bottom; max-width:100%}
.p .body video {max-width:100%; background:#d6dce5}
.p .body video, .p .body audio {margin-bottom:-4px}
.p div.avatar {overflow:hidden; padding:5px 0; position:relative; text-align:center; width:115px}
.p.r {border-right-style:solid; border-right-width:115px; border-left-style:solid; border-left-width:1px; border-bottom-style:solid; border-bottom-width:1px}
.p.r div.avatar {float:right; margin-right:-115px}
.p.l {border-left-style:solid; border-left-width:115px; border-right-style:solid; border-right-width:1px; border-bottom-style:solid; border-bottom-width:1px}
.p.l div.avatar {float:left; margin-left:-115px}
.p .parts {width:100%}
.p.r .parts {float:left}
.p.l .parts {float:right}
#cPosts p {word-wrap:break-word; text-align:justify}
#cPosts p:empty {display:none}
.deleted, .deleted .hdr, .deleted .hdr a {color:#888}
.deleted {background:#eee; border-color:#eee}
.deleted .hdr {margin:0}

/* Reply to a conversation */
.p .edit {padding:5px 10px 10px 10px}
.r .edit {padding:5px 10px 10px 0; padding-left:10px}
.l .edit {padding:5px 0 10px 10px; padding-right:10px}
.p .body textarea {height:25em; width:fill-available; width:-webkit-fill-available; width:-moz-available}
.p .editButtons {text-align:right}
.editButtons .button {border-radius:0}
.editButtons .big {border-radius:5px; border-top-left-radius:0; border-top-right-radius:0}
#reply-preview p {text-align:justify}
#discardDraft, #submitPost {margin-left:5px}

/* Formatting buttons */
.p .controls {margin:-1px 0 -3px 0}
.p .controls .formattingButtons {overflow:hidden; display:block; float:left; margin-left:5px; margin-right:5px}
.p .controls .formattingButtons a span {margin-left:0}
.p .controls .formattingButtons a:hover {background-color:#fff; text-decoration:none}
.p .controls .formattingButtons a:active {background-color:#888}
.p .hdr .formattingButtons a:last-child {margin-right:0}
#reply-previewCheckbox {margin-top:2px; margin-left:0}
#format-b {font-weight:bold}
#format-i {font-style:italic}
#format-h {text-decoration:underline}
#format-s {text-decoration:line-through}
#format-code {font-family:monospace; font-size:120%; line-height:1.4}

/* Formatting checkbox */
.formattingCheckbox {font-size:90%!important; display:inline-table!important; margin-left:0!important}
.formattingCheckbox input {height:12px; display:inline-flex; display:-webkit-inline-flex; margin:0!important; margin-top:2px!important; margin-right:4px!important}
.formattingCheckbox label {display:inline-block; margin-top:3px}

/* Code, quotes, headers */
pre, code, .fixed {font-family:monospace; font-size:120%; overflow-x:auto; white-space:pre-wrap; white-space:-moz-pre-wrap !important; white-space:-pre-wrap; white-space:-o-pre-wrap; word-wrap:break-word}
pre {border:1px dashed #bbb; margin:0 10px 1em; padding:7px}
code {background:#e6e6e6}
blockquote {width:fit-content; padding:5px 7px 5px 7px; margin:0 0 10px 0; border:1px solid #bbb; background:#d6dce5}
blockquote cite {display:block; font-style:normal; margin-bottom:5px; text-transform:uppercase; font-weight:bold; color:#5f6d7f; text-shadow:#e6eaef 0 1px; font-size:90%}
blockquote p:first-child, blockquote p:last-child {margin-bottom:0}
.p .body h3 {border-bottom:1px solid #bbb; margin:0 0 5px}
.p hr {display:block; color:#bbb; border:solid #bbb; border-width:1px 0 0; height:1px}

/* Join this forum */
#join input.text {font-size:140%}
#join .msg {padding:4px 10px}
#jconfm {padding:5px 0 15px 0; line-height:1.5}

/* My settings */
#settings .post {margin:0}
#settings .submit {margin-bottom:5px}
#preview .body {overflow:visible}
form#settingsAvatar {padding-bottom:8px}
#settingsAvatar label {width:20em}
#settingsAvatar li:last-child {margin-top:-20px}
#settingsPassword label {width:12em}
#settingsOther label {width:32em}
#settingsOther input.checkbox, #settingsOther input.radio {margin:3px 5px 5px 0}
.hidden#settingsOther, .hidden#settingsPassword {margin-bottom:5px; padding-bottom:0}
/* Color palette */
#palette {margin:-10px 0 12px; margin-left:-8px; margin-right:-10px}
#palette table {position:relative; width:100%} 
#palette td {padding:0 2px 0 0; vertical-align:top} 
#palette a {display:block; height:35px; margin-top:2px}
#palette a.selected {height:40px; margin-top:0}
#palette table#tblfirst a.selected {margin-top:-3px}
#palette table#tblsecond a.selected {height:37px}

/* Admin */
#admin {border-left:175px solid #eee; border-image:linear-gradient(180deg, #e0dede, #fff); border-image-slice:1; margin:-15px -25px; background:#fff}
#admin .menu {float:left; width:175px; margin:0; margin-top:5px; margin-left:-175px; padding:10px 0; border-right:1px solid #ccc}
#admin .menu li {list-style-type:none; margin:0; padding:0; display:block}
#admin .menu li a {display:block; margin-left:25px; padding:10px 15px; font-size:120%}
#admin .menu li.active a {background:#fff; border:solid #ccc; border-width:1px 0 1px 1px; margin-right:-1px; color:#000; font-weight:bold}
#admin .inner {padding:15px 25px; padding-bottom:2px; margin-bottom:15px; border-left:1px solid #ccc}
#admin .stats label {font-weight:normal; text-align:left; width:30%}
#admin .stats div {float:none; font-size:115%; margin-left:35%}
#admin .stats li {border-bottom:1px solid #ddd; padding-left:10px}
#admin .settingsForm input.text, #admin .settingsForm select {font-size:140%}
#admin .logoForm label, #admin .iconForm label, #admin .settingsForm label {width:20em}
#admin input.checkbox {margin:3px 5px 5px 0}
#admin .clear {display:none}
.form.logoForm img {border:1px dashed #bbb; padding:5px}
.form.iconForm img {width:128px; height:128px; border:1px solid #ddd}
.form.logoForm li:last-child, .form.iconForm li:last-child {margin-top:-20px}
  
/* Plugins */
#plugins .controls {float:right}
#plugins .controls a, #plugins .toggle {font-size:90%; background:#cdffba; width:4.5em; text-align:center; display:block; float:left; color:#258500; padding:2px 0}
#plugins .controls a, #plugins .enabled .toggle {color:#888; background:#e4e4e4}
#plugins .controls a, #plugins small, #plugins strong {margin-left:10px}
#plugins .toggle:hover {background-color:#a3e18c; text-decoration:none}
#plugins .toggle:active {background-color:#64b346}
#plugins .enabled .toggle:hover, #plugins .controls a:hover {background-color:#ccc; text-decoration:none}
#plugins .enabled .toggle:active, #plugins .controls a:active {background-color:#a4a4a4}
#plugins ul {list-style:none; margin:0; padding:0}
#plugins li {border-bottom:1px solid #ddd; display:block; padding:5px}
#plugins li strong {font-weight:normal; font-size:120%}
#plugins li.enabled strong {font-weight:bold}
#plugins li form {margin:15px 5px}
#plugins li .settings {background:#fff; padding:5px 20px; margin-top:5px}
#plugins li form label {margin-bottom:10px; width:25em}
#plugins li input.checkbox {margin:2px 7px 2px 0}
#plugins li li {border:0; padding:0}

/* Skins */
#skins ul {list-style:none; margin:0; padding:0}
#skins li {float:left; width:297px}
#skins a {color:#000; display:block; padding:10px}
#skins a:hover {text-decoration:none}
#skins strong {font-weight:normal; font-size:120%}
#skins li.enabled strong {font-weight:bold}
#skins small {margin-left:10px}
#skins .preview {background:#eee; border:1px solid #ddd; color:#ddd; display:block; font-size:20px; height:153px; margin-bottom:5px; overflow:hidden; text-align:center; width:275px}
#skins .preview span {display:block; margin-top:65px}
#skins a:hover .preview, #skins .enabled .preview {border-color:#aaa}

/* Profile */
.profile .body {overflow:visible; padding:5px 10px}
.profile .form label {font-weight:normal; text-align:left; width:30%}
.profile .form div {float:none; font-size:115%; margin-left:35%}
.profile .form li {border-bottom:1px solid rgba(0,0,0,0.1); padding-left:10px}
.profile div.about {margin:0 0 1em 0}
.p.profile {margin-bottom:0}

/* Members online */
#membersOnline .p {margin-bottom:4px; border:0}
#membersOnline .hdr {margin:0; padding-left:0}
#membersOnline .hdr > a:first-child {margin-right:8px; display:inline-block}
#membersOnline .avatar {width:30px; height:30px; margin:-10px 0 -10px 0; vertical-align:middle}
#membersOnline .p:last-child {margin-bottom:0}
#fieldmembers .warning {margin:unset}

/* Footer */
#ftr {font-size:90%; margin:5px 25px 20px; overflow:hidden}
#ftr ul {margin:0; padding:0}
#ftr #copyright {margin:0; padding:10px; border:1px dashed #ccc}
#ftr small {font-size:inherit}
#ftr small:not(:first-child) {padding-top:5px}

/* Inputs, buttons, and other form elements */
form {margin:0}
input.text, textarea {background:#fff; border:1px solid #aaa; padding:2px}
input.text:focus, textarea:focus {border-color:#555}
#cInfo .editable:focus {background:#fff}
input::placeholder {color:#aaa}
.placeholder {color:#aaa}
input.checkbox, input.radio {padding:0; margin:0 2px 0 5px; vertical-align:-2px}
label.checkbox, label.radio {cursor:pointer}
fieldset {border:1px solid #ccc; margin:5px 0 10px 0; padding:0 15px 15px}
legend {color:#000; font-size:140%; font-weight:bold; padding:5px 10px 10px}
fieldset legend a {color:#000}
fieldset.hidden {border-width:1px 0 0; padding:0 16px 0}
fieldset.hidden legend a {color:#666}
fieldset li:last-child {border-bottom:none!important; margin-bottom:0!important}

/* Structured forms */
.form label {float:left; line-height:1.5; margin:0 1em 1px 0; text-align:right; width:12em}
.form div label {float:none; margin:0; text-align:left; width:auto}
.form label.long {text-align:left; width:100%}
.form label.radio {cursor:pointer; text-align:left}
.form input.text, .form select {float:left; margin:0; width:20em}
.form div {float:left; line-height:1.5}
.form div input.text, .form div select {float:none}
.form {margin:0; padding:0}
.form li {display:block; list-style:none; margin-bottom:4px; overflow:hidden}
.form .msg {float:left; font-size:95%; margin:0 0 0 10px; padding:2px 10px}

/* Buttons */
.button, .button input {cursor:pointer; display:-moz-inline-box; display:inline-block; height:20.3px; padding:0; text-align:center; text-shadow:#ececec 0 1px}
.button {background:linear-gradient(#f7f7f7,#aeaeae); margin:0; border:1px solid #4e4e4e; border-radius:5px; height:18px}
.button input {background:none; border:0; color:#000; margin-left:5px; margin-right:5px; height:18px}
.big {height:25px}
.big input {font-size:140%; height:26px}
.button:hover {box-shadow:inset 0px 0px 15px 2px rgba(0, 0, 0, .12)}
.button:active {box-shadow:inset 0px 0px 15px 2px rgba(0, 0, 0, .5)}
.buttonDisabled, .buttonDisabled:active, .buttonDisabled:hover {border:1px solid #aaa; box-shadow:none; cursor:default}
.bigDisabled, .bigDisabled:active, .bigDisabled:hover {border:1px solid #aaa; box-shadow:none; cursor:default}
.buttonDisabled input, .buttonDisabled:active input, .buttonDisabled:hover input {color:#999; text-shadow:#fff 0 1px; cursor:default}
.bigDisabled input, .bigDisabled:active input, .bigDisabled:hover input {color:#999; text-shadow:#fff 0 1px; cursor:default}

/* Post colors */
.c1 .hdr, .p .c1 .hdr, #palette .c1 {background:#dfdfdf} .c1 {border-color:#dfdfdf; background:#eee}
.c2 .hdr, .p .c2 .hdr, #palette .c2 {background:#d2d2d2} .c2 {border-color:#d2d2d2; background:#eee}
.c3 .hdr, .p .c3 .hdr, #palette .c3 {background:#cf9eff} .c3 {border-color:#cf9eff; background:#cf9eff2e}
.c4 .hdr, .p .c4 .hdr, #palette .c4 {background:#b29cff} .c4 {border-color:#b29cff; background:#b29cff2e}
.c5 .hdr, .p .c5 .hdr, #palette .c5 {background:#a5b1ff} .c5 {border-color:#a5b1ff; background:#a5b1ff2e}
.c6 .hdr, .p .c6 .hdr, #palette .c6 {background:#adccff} .c6 {border-color:#adccff; background:#adccff2e}
.c7 .hdr, .p .c7 .hdr, #palette .c7 {background:#b4e7ff} .c7 {border-color:#b4e7ff; background:#b4e7ff2e}
.c8 .hdr, .p .c8 .hdr, #palette .c8 {background:#93fff1} .c8 {border-color:#93fff1; background:#93fff12e}
.c9 .hdr, .p .c9 .hdr, #palette .c9 {background:#a4ffd4} .c9 {border-color:#a4ffd4; background:#a4ffd42e}
.c10 .hdr, .p .c10 .hdr, #palette .c10 {background:#93ffae} .c10 {border-color:#93ffae; background:#93ffae2e}
.c11 .hdr, .p .c11 .hdr, #palette .c11 {background:#b5ff97} .c11 {border-color:#b5ff97; background:#b5ff972e}
.c12 .hdr, .p .c12 .hdr, #palette .c12 {background:#d4ff95} .c12 {border-color:#d4ff95; background:#d4ff952e}
.c13 .hdr, .p .c13 .hdr, #palette .c13 {background:#ebff99} .c13 {border-color:#ebff99; background:#ebff992e}
.c14 .hdr, .p .c14 .hdr, #palette .c14 {background:#fff391} .c14 {border-color:#fff391; background:#fff3912e}
.c15 .hdr, .p .c15 .hdr, #palette .c15 {background:#ffdb75} .c15 {border-color:#ffdb75; background:#ffdb752e}
.c16 .hdr, .p .c16 .hdr, #palette .c16 {background:#ffcd92} .c16 {border-color:#ffcd92; background:#ffcd922e}
.c17 .hdr, .p .c17 .hdr, #palette .c17 {background:#ffc19b} .c17 {border-color:#ffc19b; background:#ffc19b2e}
.c18 .hdr, .p .c18 .hdr, #palette .c18 {background:#ffa3af} .c18 {border-color:#ffa3af; background:#ffa3af2e}
.c19 .hdr, .p .c19 .hdr, #palette .c19 {background:#ffafdc} .c19 {border-color:#ffafdc; background:#ffafdc2e}
.c20 .hdr, .p .c20 .hdr, #palette .c20 {background:#eba5ff} .c20 {border-color:#eba5ff; background:#eba5ff2e}
.c21 .hdr, .p .c21 .hdr, #palette .c21 {background:#c0c0db} .c21 {border-color:#c0c0db; background:#c0c0db2e}
.c22 .hdr, .p .c22 .hdr, #palette .c22 {background:#abcbcd} .c22 {border-color:#abcbcd; background:#abcbcd2e}
.c23 .hdr, .p .c23 .hdr, #palette .c23 {background:#b8d9c2} .c23 {border-color:#b8d9c2; background:#b8d9c22e}
.c24 .hdr, .p .c24 .hdr, #palette .c24 {background:#c8d9b8} .c24 {border-color:#c8d9b8; background:#c8d9b82e}
.c25 .hdr, .p .c25 .hdr, #palette .c25 {background:#e5e2ba} .c25 {border-color:#e5e2ba; background:#e5e2ba2e}
.c26 .hdr, .p .c26 .hdr, #palette .c26 {background:#e7d0bb} .c26 {border-color:#e7d0bb; background:#e7d0bb2e}
.c27 .hdr, .p .c27 .hdr, #palette .c27 {background:#cdc5bd} .c27 {border-color:#cdc5bd; background:#cdc5bd2e}
  
/* Specific values */
#forgotPassword, #markAsRead, #startConversation {line-height:1.5; margin:10px 0 0 0; padding:0 5px 0 5px; background:#e4e4e4; color:#000; width:fit-content; text-align:center; display:inline-block}
#forgotPassword, #startConversation {display:none}
#forgotPassword {margin:10px 0 10px 0}
#forgotPassword:hover, #markAsRead:hover, #startConversation:hover {background-color:#ccc; text-decoration:none}
#forgotPassword:active, #markAsRead:active, #startConversation:active {background-color:#888}
div#ftr {margin-top:0}
#accountInformation input {max-width:20em; width:96%}
#settingsOther {padding:0 15px 12px}
td.author, td.lastPost {max-width:95px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
ul.form.stats {word-break:break-word; -ms-word-break:break-word}
#cInfo #saveTitleTags {display:none !important}
input.text, textarea, .pg {box-shadow:inset 0 5px 10px rgba(0, 0, 0, 0.07)}
#report {padding-left:10px}
#beenLoggedOutShadow {width:100% !important; height:100% !important}

@keyframes Gradient {
0% {background-position:0% 50%}
50% {background-position:100% 50%}
100% {background-position:0% 50%}
}

@-webkit-keyframes Gradient {   
0% {background-position:0% 50%}
50% {background-position:100% 50%}
100% {background-position:0% 50%}
}

@-moz-keyframes Gradient {   
0% {background-position:0% 50%}
50% {background-position:100% 50%}
100% {background-position:0% 50%}
}

@media print {
#hdr, #bar, .pg .left, .pg .right, #reply, .avatar, .p .controls {display:none}
.pg {padding:0}
hr {display:block}
.p.r, .p.l {border:0}
}

/* Mobile support */
@media only screen and (max-width:1000px) {
#wrapper {border-left:0; border-right:0}
#editedBy, span.star0 {display:none}
#nav-prof, #nav-conv {display:none}
#nav-dpav {visibility:hidden}
#mbl-prof {display:inherit}
#bar {height:18px}
ul.fl, ul.fr {position:absolute}
ul.fl {z-index:1}
ul.fr {z-index:0; right:25px}
th.author, th.lastPost, th.star {display:none}
td.author, td.lastPost, td.star {display:none}
#name-message, #email-message, #password-message, #confirm-message {clear:left; padding-left:146px}
}
  
@media only screen and (max-width:870px) {
.form.settingsForm li {margin-bottom:10px}
.form.settingsForm li label {text-align:left; width:auto}
.form.settingsForm li div {clear:left}
.form.settingsForm li .checkbox {margin-left:20px}
.form.settingsForm li:last-child {width:20em}
.form.settingsForm li:last-child label {width:20em!important}
.form.settingsForm li:nth-last-child(2) div, .form.settingsForm li:nth-last-child(3) div {position:absolute; padding-left:2px} 
#admin .logoForm label, #admin .iconForm label, #admin .settingsForm label {width:auto}
.form.logoForm li, .form.iconForm li {margin-bottom:10px}
.form.logoForm li label, .form.iconForm li label {text-align:left}
.form.logoForm li input, .form.iconForm li input {clear:left; max-width:20em}
.form.logoForm li:last-child, .form.iconForm li:last-child {width:20em; margin-top:0}
.form.logoForm li:last-child label, .form.iconForm li:last-child label {width:20em!important}
.form.logoForm li div, .form.iconForm li div {clear:left}
}

@media only screen and (max-width:800px) {
#reply .hdr {min-height:16px}
#reply .pInfo {display:none}
}

@media only screen and (max-width:735px) {
#settingsOtherForm label {text-align:left; width:auto}
#language, #avatarAlignment {clear:left}
#settingsOther .form li {margin-bottom:5px}
select#language {margin-bottom:5px}
select#avatarAlignment {margin-bottom:10px}
select#language, select#avatarAlignment {max-width:20em; width:96%}
#settingsOtherForm .checkbox {margin-left:20px; width:auto}
#settingsOtherForm input {position:absolute; left:41px}

/* Change your avatar */
#lbl-avt {display:none}
#upl-ava, #upl-url {clear:left; max-width:20em; width:96%}
#settingsAvatar li:last-child {margin-top:0}
#settingsAvatar label.radio {width:auto}
/* #settingsAvatar .button {margin-left:-1px} */
#appearance .form li {margin-bottom:10px}
}
  
@media only screen and (max-width:710px) {
div#copyright {margin-top:0}
ul.fl, ul.fr {white-space:nowrap}
#name-message, #email-message, #password-message, #confirm-message {padding-left:0; margin-right:4px}
#name-message .msg.info, #name-message .msg.warning, #email-message .msg.info, #email-message .msg.warning, #password-message .msg.info, #password-message .msg.warning, #confirm-message .msg.info, #confirm-message .msg.warning {margin-left:0}
#accountInformation .form label {text-align:left}
#accountInformation .form input {clear:left}
}

@media only screen and (max-width:670px) {
.form input[name="installPlugin"] {width:15em}
}

@media only screen and (max-width:620px) {
#wrapper.small #search {display:none}
#search.withStartConversation {padding-right:calc(7.15em + 12px)!important}
#search .fr {margin-right:-7.15em; width:7.15em}
#bar .fr, #new {display:none}
#searchResults {border-top:1px solid #ccc; border-bottom:0; border-image:linear-gradient(to top, #ccc, #aaa); border-image-slice:1}
#startConversation {display:inline-block; margin:3px 0 10px 0}
#markasread {margin-bottom:0}
#admin {margin-top:0; border-left:0; border-image:none; background:unset}
#admin .menu {float:none; margin-top:0; margin-left:25px; margin-right:25px; padding:0; width:-webkit-fill-available; border:1px solid #ccc}
#admin .menu li {display:block; margin-right:0}
#admin .menu li a {display:block; margin:0; background-color:#eee; border-top:1px solid #ccc}
#admin .menu li.active a {margin-right:0; border-left:unset; border-bottom:unset}
#admin .menu li:first-child a {border:none}
#admin .inner {padding-top:10px}
.form input[name="installPlugin"] {width:inherit}
}

@media only screen and (max-width:570px) {
#body {padding:15px 10px; padding-top:10px; padding-bottom:0; overflow:hidden}
#loading {right:10px}
#hdr, #bar {padding-left:10px; padding-right:10px}
#tags {display:none}
#searchResults table.c {margin-top:0}
#ftr {margin-left:10px; margin-right:10px; margin-bottom:10px}
#cInfo h2 {margin-right:10px}
#cInfo #cTitle {margin:0}
#sconvo .pInfo, .star0, .star1 {display:none}
#cInfo dt {width:auto}
.p.deleted {margin-bottom:10px}
.p.l div.avatar, .p.r div.avatar {display:none}
.p.l {border-left-width:1px}
.p.r {border-right-width:1px}
blockquote {margin:0 0 1em}
#allowed {margin-block-start:0; margin-bottom:0}
#preview {margin-bottom:0}
#appearance .p .body {padding:5px 0 0}
form#settingsAvatar {padding-left:10px; padding-right:10px}
#palette {margin-left:2px; margin-right:0}
#settingsOtherForm input {left:26px}
.profile .form li, #report {padding-left:0}

/* Conversations */
#sconvo .hdr {min-height:16px}
.p .hdr .controls {float:none; clear:left; overflow:auto; margin:21px -10px -7px -10px; padding-top:4px; padding-bottom:4px; background:#ddd; box-shadow:inset 0 5px 10px rgba(255, 255, 255, 0.4)}
#cPosts .p .hdr .controls a:first-child {margin-left:10px}
#cPosts .p .hdr .controls .formattingButtons {margin-left:10px; margin-right:10px}
#cPosts .p .hdr .controls .formattingButtons a:first-child {margin-left:0}
#reply .controls {clear:none; margin:-1px 0 -3px 0; padding:0; background:inherit; box-shadow:none}
.p .hdr .controls:blank {display:none}
.p .hdr .controls:empty {display:none}
#reply .formattingButtons {margin:0}
.formattingCheckbox {clear:left; float:left; width:-webkit-fill-available; margin-top:3px; margin-bottom:3px; padding-top:3px; border-top:1px solid rgba(0,0,0,0.2)}
#cPosts .p .hdr .controls .formattingCheckbox {padding-left:10px}
.p.deleted .controls span a {margin-left:3px}
.p.deleted .body {margin-top:5px}
}

@media only screen and (max-width:500px) {
#nav-fgpw {display:none}
#forgotPassword {display:inline-block}
/* #login {padding-right:0; border-right:0} */
#nav-join span.button {margin-right:-20px}
}

@media only screen and (max-width:490px) {
#settingsPassword .form li {margin-bottom:10px}
#settingsPasswordForm label {text-align:left}
#settingsPasswordForm input.text {clear:left; max-width:20em; width:96%}
#lbl-pass {display:none}
fieldset#forgot-pass {padding:0 15px 10px}
#forgot-password .form label {text-align:right; width:auto}
#forgot-password input#email {clear:left; max-width:20em; width:96%}
label#lbl-fgps {width:12em; display:none}
#forgot-password .button {margin-top:6px; margin-bottom:6px}
#forgot-pass-reset .form li {margin-bottom:10px}
#forgot-pass-reset .form label {text-align:right; width:auto}
#forgot-pass-reset input {clear:left; max-width:20em; width:96%}
label#lbl-fgcf {width:12em; display:none}
#forgot-pass-reset .button {margin-top:2px; margin-left:-1px}
#addPlugin ul.form li:first-child, #addSkin ul.form li:first-child {margin-bottom:10px}
#addPlugin ul.form li:first-child label, #addSkin ul.form li:first-child label {text-align:left}
#addPlugin ul.form li:first-child input, #addSkin ul.form li:first-child input {clear:left}
#addPlugin ul.form li:last-child label, #addSkin ul.form li:last-child label {display:none}
}

@media only screen and (max-width:420px) {
#addMember {width:5em}
}

@media only screen and (max-width:405px) {
#rememberMe, #rememberChk {display:none}
}

@media only screen and (max-width:395px) {
#membersOnline .hdr span {display:none}
#basicSettings .form.settingsForm li:nth-child(-n+3) div {width:100%}
#admin .settingsForm input.text, #admin .settingsForm select {width:-webkit-fill-available}
}
  
@media only screen and (max-width:340px) {
#discardDraft {clear:left; margin:5px 0 0 0}
}

@media only screen and (max-width:330px) {
tbody#conversations td strong {word-break:break-all}
}

@media only screen and (max-width:320px) {
#nav-skin, #nav-plgn {display:none}
}
