@media all {
/* Main tags */
body {background:linear-gradient(#e2e2e2, #fff 70%); background-repeat:no-repeat}

/* Links */
/* a:active {text-shadow:#888 0 1px; color:#000} */
a, .link, .p .hdr a.link {color:#003483}

/* Misc */
small, dt {color:#888}
small a, dt a {color:#55f}
#loading {background:#dcff52; border:solid #d4e58f; border-width:0 1px 1px 1px; box-shadow:rgba(0, 0, 0, 0.2) 0 0 3px; -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 0 3px}
.enabled, #skins a:hover {background:#ffa}
.disabled {color:#888}
.disabled:hover {color:#888; text-decoration:none}
.highlight {background:yellow}

/* Header */
#hdr {background:linear-gradient(#dbdbdb, #c1c1c1); text-shadow:#fff 0 1px}
#hdr h1 a {color:#000}
#hdr h1 a:hover {text-decoration:none}
#hdr h1 a:hover span {text-decoration:underline}
#hdr h1 img {filter:drop-shadow(#fff 0 1px)}

/* Forum description */
#forumDescription {color:#555}

/* User bar */
#bar {background:linear-gradient(#e4e4e4, #a7a7a7); border-bottom:1px solid gray; border-top:1px solid gray; box-shadow:0 0 5px 0 #ababab; text-shadow:#ddd 0 1px}
#bar strong a {color:#000}
#bar input.text, #hdr #reset {border-color:#555; box-shadow:0 1px 1px rgba(255, 255, 255, 0.5); -webkit-box-shadow:0 1px 1px rgba(255, 255, 255, 0.5); -moz-box-shadow:0 1px 1px #c6c6c6}
#login {border-top:0; border-bottom:0; border-left:0; border-right:1px solid gray}
#logout {display:block; margin-top:-6px; padding-top:6px; padding-bottom:3px; padding-left:3.5px; border-top:0; border-bottom:0; border-left:1px solid gray; border-right:0}
#displayAvatars select {border-radius:0; border-color:#555; box-shadow:0 1px 1px rgba(255, 255, 255, 0.5); -webkit-box-shadow:0 1px 1px rgba(255, 255, 255, 0.5); -moz-box-shadow:0 1px 1px #c6c6c6; background:#fff}
/* RSS button */
#bar #rss .button {background:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNzUgMTc1Ij4KICA8Y2lyY2xlIGN4PSIyNCIgY3k9IjE1MSIgcj0iMjQiIGZpbGw9IiNmZmYiLz4KICA8cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTE2IDE3NUg4MkE4MiA4MiAwIDAgMCAwIDkzVjU5YTExNiAxMTYgMCAwIDEgMTE2IDExNnoiLz4KICA8cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTQwIDE3NUExNDAgMTQwIDAgMCAwIDAgMzVWMGExNzUgMTc1IDAgMCAxIDE3NSAxNzV6Ii8+Cjwvc3ZnPgo=') no-repeat center/13px, linear-gradient(#fdc855 25%, #fa9f15 50%, #f87602 50%, #fdb522 100%); width:19px; border:1px solid #db5605; border-radius:5px}
#bar #rss .button input {visibility:hidden; color:#fff; text-shadow:#db5605 0 -1px}

/* Body */
#body {background:linear-gradient(#cdcdcd, #fff); background-repeat:no-repeat; background-size:100% 90px}
#wrapper {border-top:0; border-bottom:0; border-left:1px solid; border-right:1px solid; border-image:linear-gradient(to bottom, gray, #eee, #fff); border-image-slice:1; background:#fff}

/* Tags & gambits */
#tagArea {border:1px dashed #bbb; border-image:linear-gradient(to top, #ccc, #aaa); border-image-slice:1}
#tags a {color:#777}
#gambits a {color:#00f}

/* Search form */
#body #search {background:#d6dce5; padding:10px 19.2em 10px 10px; margin:0}
#searchText {border-right:0; background:#fff url(search.gif) no-repeat 5px 6px; padding-left:23px; border-color:#555}
#submit {border-top-left-radius:0; border-bottom-left-radius:0}
#reset {color:#bbb}
#searchText:focus + .fr #reset {color:#555}
#reset:hover, #searchText:focus ~ #reset:hover {text-decoration:none; color:#000}

/* Messages */
#messages .msg {border-bottom:1px solid #888}
.msg .close {border:1px solid #fff; color:#fff; text-decoration:none}
.msg .close:hover {background:#fff; color:#000; text-decoration:none}
.msg .close:active {background:#aaa}
.msg {background:#ddd}
.info {background:#ffe680}
.success {background:#cf0}
.warning {background:#c00; color:#fff}
.warning a, .warning a:hover {color:#fff; text-decoration:underline}

/* Stars */ 
.star0 {color:#ccc}
a.star0:hover {color:#92bcff}
.star1, a.star1:hover {color:#0055d4}
a.star0:active, a.star1:active {color:#68a2ff}
tr.starred td {background:#d7e3f4; border-color:#5f8dd3; border-top:1px solid #5f8dd3}

/* Conversation labels */
.label {border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px}
.locked {background:#999; color:#fff}
.private {background:#7b00ad; color:#fff}
#gambits a.privateText {color:#7b00ad}
.sticky {background:#f90; color:#fff}
#gambits a.stickyText {color:#f60}
#gambits a.starredText {color:#efcb00}
#gambits a.lockedText {color:#888}
.draft {background:#0b2; color:#fff}
#gambits a.draftText {color:#0b2}

/* Conversations table */
.c {margin:0; border-collapse:collapse}
.c th {background-color:#d6dce5; border-bottom:1px solid #bbb; text-transform:uppercase; font-weight:bold; color:#5f6d7f; text-shadow:#e6eaef 0 1px}
.c td {border-bottom:1px solid #ccc}
.c strong a {color:#000}
.c a {margin-left:8.8px}
.c .author a, .c .lastPost a {color:#000}
.c td.avatar img {border:1px solid #ddd}
.c .p1 {color:#000}
.c .p2 {color:#666}
.c .p3 {color:#aaa}
#newResults td {border:0}
#body #search {border-top:1px solid #bbb}
#body #search {border-left:1px solid #bbb; border-right:1px solid #bbb}
#searchResults {border-left:1px solid #ccc; border-right:1px solid #ccc}
#searchResults tbody > tr:nth-of-type(even) {background-color:#f4f4f4}

/* Conversation header */
#cHdr {background:#d6dce5; border:1px solid #bbb; border-image:linear-gradient(to top, #bbb, #aaa); border-image-slice:1}
/* Info and title (left part) */
#cInfo:not(.text) {border-style:none; border-width:1px}
#cInfo .editable {border-style:dashed; border-width:1px; border-color:#bbb}
#cInfo .editable:hover {border-style:dashed; border-width:1px; border-color:#555}
#cInfo .editable:focus {border-style:solid; border-width:1px; box-shadow:inset 0 5px 10px rgba(0, 0, 0, 0.07)}
#cTags a {background:#e4e4e4; color:#000}
#cTags a:hover {background-color:#ccc; text-decoration:none}
#cTags a:active {background-color:#888}
/* Members allowed (right part) */
#allowed a.d:hover {color:#f00; text-decoration:line-through}
#addMember {border-right:0; border-top-right-radius:0; border-bottom-right-radius:0}
#addMemberSubmit {border-top-left-radius:0; border-bottom-left-radius:0}

/* Pagination */
.pg {background:#fff}
.pg li {border:1px solid #bbb}
.pg li.middle {border-width:1px 0}
.pg .viewing div {background:#c2dbff; border:1px solid #62a0dc}
.pg .viewing:hover div {border-color:#0e5395}
.pg .viewing:active div {background:#62a0dc}
.pg .unread {background:#ffc; color:#f71}

/* Conversation post */
.p {border-left-width:1px; border-right-style:solid; border-right-width:1px; border-bottom-style:solid; border-bottom-width:1px}
.p .hdr, .p .hdr small, .p .hdr a {color:#000}
.p .hdr select, .p .hdr input.save {border:dashed rgba(0,0,0,0.2); border-width:1px}
.p .hdr select option {background:#fff}
.p .hdr .controls a {background:rgba(0,0,0,0.1)}
.p .hdr .controls a:hover {background-color:#fff; text-decoration:none}
.p .hdr .controls a:active {background-color:#888}
.p .body video {background:#d6dce5}
.deleted, .deleted .hdr, .deleted .hdr a {color:#888}
.deleted {background:#eee; border-color:#eee}

/* Reply to a conversation */
.editButtons .button {border-radius:0}
.editButtons .big {border-radius:5px; border-top-left-radius:0; border-top-right-radius:0}

/* Formatting buttons */
.p .controls .formattingButtons a:hover {background-color:#fff; text-decoration:none}
.p .controls .formattingButtons a:active {background-color:#888}

/* Code, quotes, headers */
pre {border:1px dashed #bbb}
code {background:#e6e6e6}
blockquote {width:fit-content; padding:5px 7px 5px 7px; margin:0 0 10px 0; border:1px solid #bbb; background:#d6dce5}
blockquote cite {margin-bottom:5px; padding-bottom:0; text-transform:uppercase; color:#5f6d7f; text-shadow:#e6eaef 0 1px; font-size:90%}
blockquote p:first-child, blockquote p:last-child {margin-bottom:0}
.p .body h3 {border-bottom:1px solid #bbb}
.p hr {color:#bbb; border:solid #bbb; border-width:1px 0 0}

/* Admin */
#admin {border-color:#eee; border-image:linear-gradient(180deg, #e0dede, #fff); border-image-slice:1; background:#fff}
#admin .menu {border-right:1px solid #ccc}
#admin .menu li.active a {background:#fff; border:solid #ccc; border-width:1px 0 1px 1px; color:#000}
#admin .inner {border-left:1px solid #ccc}
#admin .stats li {border-bottom:1px solid #ddd}
.form.logoForm img {border:1px dashed #bbb}
.form.iconForm img {border:1px solid #ddd}

/* Plugins */
#plugins .controls a, #plugins .toggle {background:#cdffba; color:#258500}
#plugins .controls a, #plugins .enabled .toggle {color:#888; background:#e4e4e4}
#plugins .toggle:hover {background-color:#a3e18c; text-decoration:none}
#plugins .toggle:active {background-color:#64b346}
#plugins .enabled .toggle:hover, #plugins .controls a:hover {background-color:#ccc; text-decoration:none}
#plugins .enabled .toggle:active, #plugins .controls a:active {background-color:#a4a4a4}
#plugins li {border-bottom:1px solid #ddd}
#plugins li .settings {background:#fff}

/* Skins */
#skins a {color:#000}
#skins a:hover {text-decoration:none}
#skins .preview {background:#eee; border:1px solid #ddd; color:#ddd}
#skins a:hover .preview, #skins .enabled .preview {border-color:#aaa}

/* Profile */
.profile .form li {border-bottom:1px solid rgba(0,0,0,0.1)}

/* Footer */
#ftr #copyright {border-top:1px dashed #ccc}

/* Inputs, buttons, and other form elements */
input.text, textarea {background:#fff; border:1px solid #aaa; box-shadow:inset 0 1px 3px #aaa}
input.text:focus, textarea:focus {border-color:#555}
#cInfo .editable:focus {background:#fff}
input::placeholder {color:#aaa}
.placeholder {color:#aaa}
fieldset {border:1px solid #ccc}
legend {color:#000}
fieldset legend a {color:#000}
fieldset.hidden {border-width:1px 0 0}
fieldset.hidden legend a {color:#666}

/* Buttons */
.button, .button input {text-shadow:#ececec 0 1px}
.button {background:linear-gradient(#f7f7f7,#aeaeae); border:1px solid #4e4e4e; border-radius:5px}
.button input {color:#000}
.button:hover {box-shadow:inset 0px 0px 15px 2px rgba(0, 0, 0, .12)}
.button:active {box-shadow:inset 0px 0px 15px 2px rgba(0, 0, 0, .5)}
.buttonSmall {box-shadow:0 1px 1px rgb(255 255 255 / 50%)}
.buttonSmall, .buttonSmall:active, .buttonSmall:hover {color:#000; border-radius:0}
.buttonDisabled, .buttonDisabled:active, .buttonDisabled:hover {border:1px solid #aaa; box-shadow:none}
.bigDisabled, .bigDisabled:active, .bigDisabled:hover {border:1px solid #aaa; box-shadow:none}
.buttonDisabled input, .buttonDisabled:active input, .buttonDisabled:hover input {color:#999; text-shadow:#fff 0 1px}
.bigDisabled input, .bigDisabled:active input, .bigDisabled:hover input {color:#999; text-shadow:#fff 0 1px}

/* Post colors */
.c1 .hdr, .p .c1 .hdr, #palette .c1 {background:#dfdfdf} .c1 {border-color:#dfdfdf; background:#eee}
.c2 .hdr, .p .c2 .hdr, #palette .c2 {background:#d2d2d2} .c2 {border-color:#d2d2d2; background:#eee}
.c3 .hdr, .p .c3 .hdr, #palette .c3 {background:#cf9eff} .c3 {border-color:#cf9eff; background:#cf9eff2e}
.c4 .hdr, .p .c4 .hdr, #palette .c4 {background:#b29cff} .c4 {border-color:#b29cff; background:#b29cff2e}
.c5 .hdr, .p .c5 .hdr, #palette .c5 {background:#a5b1ff} .c5 {border-color:#a5b1ff; background:#a5b1ff2e}
.c6 .hdr, .p .c6 .hdr, #palette .c6 {background:#adccff} .c6 {border-color:#adccff; background:#adccff2e}
.c7 .hdr, .p .c7 .hdr, #palette .c7 {background:#b4e7ff} .c7 {border-color:#b4e7ff; background:#b4e7ff2e}
.c8 .hdr, .p .c8 .hdr, #palette .c8 {background:#93fff1} .c8 {border-color:#93fff1; background:#93fff12e}
.c9 .hdr, .p .c9 .hdr, #palette .c9 {background:#a4ffd4} .c9 {border-color:#a4ffd4; background:#a4ffd42e}
.c10 .hdr, .p .c10 .hdr, #palette .c10 {background:#93ffae} .c10 {border-color:#93ffae; background:#93ffae2e}
.c11 .hdr, .p .c11 .hdr, #palette .c11 {background:#b5ff97} .c11 {border-color:#b5ff97; background:#b5ff972e}
.c12 .hdr, .p .c12 .hdr, #palette .c12 {background:#d4ff95} .c12 {border-color:#d4ff95; background:#d4ff952e}
.c13 .hdr, .p .c13 .hdr, #palette .c13 {background:#ebff99} .c13 {border-color:#ebff99; background:#ebff992e}
.c14 .hdr, .p .c14 .hdr, #palette .c14 {background:#fff391} .c14 {border-color:#fff391; background:#fff3912e}
.c15 .hdr, .p .c15 .hdr, #palette .c15 {background:#ffdb75} .c15 {border-color:#ffdb75; background:#ffdb752e}
.c16 .hdr, .p .c16 .hdr, #palette .c16 {background:#ffcd92} .c16 {border-color:#ffcd92; background:#ffcd922e}
.c17 .hdr, .p .c17 .hdr, #palette .c17 {background:#ffc19b} .c17 {border-color:#ffc19b; background:#ffc19b2e}
.c18 .hdr, .p .c18 .hdr, #palette .c18 {background:#ffa3af} .c18 {border-color:#ffa3af; background:#ffa3af2e}
.c19 .hdr, .p .c19 .hdr, #palette .c19 {background:#ffafdc} .c19 {border-color:#ffafdc; background:#ffafdc2e}
.c20 .hdr, .p .c20 .hdr, #palette .c20 {background:#eba5ff} .c20 {border-color:#eba5ff; background:#eba5ff2e}
.c21 .hdr, .p .c21 .hdr, #palette .c21 {background:#c0c0db} .c21 {border-color:#c0c0db; background:#c0c0db2e}
.c22 .hdr, .p .c22 .hdr, #palette .c22 {background:#abcbcd} .c22 {border-color:#abcbcd; background:#abcbcd2e}
.c23 .hdr, .p .c23 .hdr, #palette .c23 {background:#b8d9c2} .c23 {border-color:#b8d9c2; background:#b8d9c22e}
.c24 .hdr, .p .c24 .hdr, #palette .c24 {background:#c8d9b8} .c24 {border-color:#c8d9b8; background:#c8d9b82e}
.c25 .hdr, .p .c25 .hdr, #palette .c25 {background:#e5e2ba} .c25 {border-color:#e5e2ba; background:#e5e2ba2e}
.c26 .hdr, .p .c26 .hdr, #palette .c26 {background:#e7d0bb} .c26 {border-color:#e7d0bb; background:#e7d0bb2e}
.c27 .hdr, .p .c27 .hdr, #palette .c27 {background:#cdc5bd} .c27 {border-color:#cdc5bd; background:#cdc5bd2e}

/* Mobile properties */
@media only screen and (max-width:1000px) {
#wrapper {border-left:0; border-right:0}
}

@media only screen and (max-width:620px) {
#search.withStartConversation {padding-right:calc(7.15em + 12px)!important}
#admin {margin-top:0; border-left:0; border-image:none; background:unset}
#admin .menu {border:1px solid #ccc}
#admin .menu li a {background-color:#eee; border-top:1px solid #ccc}
#admin .menu li:first-child a {border:none}
#admin .inner {border-left:0}
}

/* Formatting controls */
@media only screen and (max-width:570px) {
#cPosts .p .hdr .controls {background:#ddd; box-shadow:inset 0 5px 10px rgba(255, 255, 255, 0.4)}
.formattingCheckbox {border-top:1px solid rgba(0,0,0,0.2)}
}
